body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

h2, h5 {
  font-weight: bold;
}

.table thead th {
  background-color: #0d6efd !important;
  color: white;
}

.btn-primary, .btn-outline-primary {
  border-radius: 4px;
}

.toast {
  border-radius: 0.5rem;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Preview Container */
#previewWrapper {
  background: #eee;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 70vh;
  min-height: 400px;
  max-height: 90vh;
  position: relative;
  border: 1px solid #ccc;
}
#previewImg, #pdfViewer {
  transition: transform 0.1s;
  max-width: none;
  max-height: none;
}

/* spinner */
#uploadSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

